.homeBanner{
    background-image: url("https://i.ibb.co/235B0nC/5317414.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}
.bannerWrap{
    width: 50%;
    height: auto;
}
.bannerHeader{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}
.bannerText{
    text-align: center;
    font-size: 1.7rem;
    margin: auto;

}

.singleProductContainer{
    overflow: hidden;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    justify-content: space-evenly;
}

/* Responsive style banner font size */
@media only screen and (max-width: 768px){
    .bannerWrap{
        width: 80%;
    }
	.bannerHeader{
        margin-top: 1.5rem;
        font-size: 2.1rem;
    }
    .bannerText{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

}
