/* google font Roboto   ** font-family: 'Roboto', sans-serif **                 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* google font Poppins   ** font-family: 'Poppins', sans-serif **                 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

html{
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
  margin: 0;padding: 0;
  list-style: none;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}
body{
  font-family: 'Poppins', sans-serif;
}
li{
  font-size: 1.6rem;
  font-weight: 500;
}